section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    padding: 2rem;
    }
    
    
 